<div class="container-fluid" id="resume-main">
    <div class="container">
        <div class="row" data-aos="fade-down">
            <div class="col-md-12 text-center">
                <h1 class="title">{{resume.title-light}} <span class="title-strong">{{resume.title-strong}}</span></h1>
            </div>
        </div>
        <div class="row" id="resume-download-row" data-aos="zoom-out-up" data-aos-anchor-placement="top-bottom">
            {{#each resume.resumes}}
            <div class="resume-cols col-xl-4 col-lg-4 col-md-4 col-12 text-center {{this.col-class}}">
                <div class="download-btn">
                    <a class="{{this.btn-class}}" href="{{this.btn-href}}" id="{{this.btn-id}}">
                    {{this.text}}
                    </a>
                </div>
                <div class="file-icon">
                    <i class="{{this.file-icon-css}}"></i>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>